html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: bisque;

}

body, body *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
    
    color: white;
    text-shadow: 1px 1px black;
}
#rootcontainer{
    display: grid;
    grid-template-rows: 80px auto 220px;
}


/* header */
.header{
  grid-row: 1; 
  display: grid;

  grid-column: 40fr 60fr;
  grid-row: auto;

  background-color: rgba(255, 166, 0, 0.932);
}
.header h3{
    grid-column: 1;
    display: grid;
    align-self: center;

    font-size: 30px;

    margin-left: 24px;
}
.header nav{
    grid-column: 2;
    display: grid;
    align-content: center;
    justify-content: end;
}
.header ul li{
    display: inline;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    
    margin-right: 20px;

    cursor: pointer;
}
.li:hover{
    color: orangered;
    transform: scale(1.22);
}

/* home container */
.home-container{
    display: grid;
    grid-template-rows: 400px 150px 500px 150px 500px;

    background-color: brown;

    grid-row: 2;
}

/* main */
.home-main{
    grid-row: 1;
    background-color: rgba(0, 0, 0, 0.774);
    display: grid;
    grid-template-rows: 60fr 30fr;
    align-items: center;
    justify-items: center;

    
    background-image: url('./images/backgroundiamge.webp');
    background-size: 100%;
}
.home-main h1{
    grid-row: 1;

    font-size: 54px;
    text-align: center;

    align-self: flex-end;
}
.home-main button{
    grid-row: 2;
    height: 50px;
    width: 200px;

    align-self: flex-start;
}



#grad-one{
    grid-row: 2;

    display: grid;
    align-items: end;
    justify-items: center;
}
#grad-one h1, #grad-two h1{
    font-size: 54px;
}


/* section one */
#section-one{
    grid-row: 3;

    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    justify-items: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
}
#section-one img{
    height: 90px;
    width: 90px;
}
.s1-child{
    display: grid;
    color: black;
    align-items: center;
    justify-items: center;
}
.s1-child *{
    color: black;

    padding: 10px;
}


/* gradient two */
#grad-two{
    grid-row: 4;
    
    display: grid;
    align-items: end;
    justify-items: center;

}

/* section two */
#section-two{
    grid-row: 5;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;

    height: 500px;

    background-color: rgb(255, 255, 255);
}
#section-two img{
    height: 90px;
    width: 90px;
}
#section-two .s2-child{
    background-color: rgba(255, 166, 0, 0.295);
}



#grad-one, #grad-two {
    background-color: orange;
    background-image: 
    repeating-linear-gradient(
    3deg, transparent, transparent 45px, 
    rgb(255, 255, 255) 45px, 
    rgb(255, 255, 255) 55px);
}
/* -----end of home page ----- */

/* footer */
.footer {
    grid-row: 3;
    background-color: rgb(36, 36, 36);

    height: 220px;
    background-color: green;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer .description{
    grid-column: 1;
    color: cadetblue;
}
.footer .services{
    grid-column: 2;
    color: black;
    background-color:crimson;
}
.footer .useful-links{
    grid-column: 3;
    color: black;
}